#footer-box {
  background-color: var(--gray-200);
}

footer {
  /* justify-content: center; */
  background-image: url(../assets/Background_Contacts.png);
  background-size: cover;
  padding-block: 128px 100px;
  
  gap: 48px;
  > div:nth-child(1) {
    justify-items: center;
    gap: 8px;
  }

  > div:nth-child(2) {
    justify-items: center;
    gap: 16px;
    a {
      padding-block: 24px;
      padding-inline: 20px;
      display: flex;
      align-items: center;
      gap: 12px;
      span {
        width: 288px;
      }
      border-radius: 12px;
    }
  }
}